html, body {
	height: 100%;
}

.page {
	position: relative;
	min-height: 100%;
}

.page:after {
	content: '';
	display: block;
	padding-bottom: @footer-height;
	visibility: hidden;
}

.title {
	color: @brand-primary;
}
